.delete-message {
    color: burgundy;
  }
  
  .btn-burgundy {
    color: #030303;
    background-color: burgundy;
    border-color: burgundy;
  }
  
  .btn-burgundy:hover {
    background-color: #8c0032;
    border-color: rgb(243, 241, 241);
  }
  