.Wine {
  margin: 20px;
}

.Wines {
  width: 100%;
  border-collapse: collapse;
}

.Wines-header {
  background-color: #8c0032;
  color: #fff;
  padding: 10px;
}

.Wines td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.Wines td:first-child {
  font-weight: bold;
}

.Wines tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
